[submodule "Fill_Missing_Segments"]
	path = Fill_Missing_Segments
	url = https://github.com/brianmanderson/Fill_Missing_Segments.git
[submodule "Resample_Class"]
	path = Resample_Class
	url = https://github.com/brianmanderson/Resample_Class.git
[submodule "Image_Processors"]
	path = Image_Processors
	url = https://github.com/brianmanderson/Image_Processors.git
[submodule "Image_Processors_Module"]
	path = Image_Processors_Module
	url = https://github.com/brianmanderson/Image_Processors_Module.git
